*{
    margin:0; 
}

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0; 
    padding: 0; 
    background-color: #f9fcfb;
    background-image: url("https://www.transparenttextures.com/patterns/elastoplast.png");
}

.container{
    margin: 15px;
    height: 300px;
    width: 200px; 
    background-color: #f9fcfb; 
    box-shadow: 0 2px 5px #ccc;
    float: left; 
    color: #1b262c;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;

}
@media only screen and (max-width: 460px){
    .container{
        float: none; 
        margin: 15px auto; 
        width: 80%;
    }
}

.heading{
    text-align: center;
    font-size: 14px;
    margin: 5px;
}

.description{
    margin: 5px;
    font-size: 9px;
}

input{
    display: block;
    width: 80%;
    margin: 10px auto; 
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
}
input:focus{
    outline:rgb(0, 0, 0);
}

button{
    display: block;
    width: 40%;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #f9fcfb;
    border: 1px solid rgb(255, 255, 255);
    margin: 2px auto;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}

.answer{
    margin-left: 5px;
    font-size: 10px;
}


